body{
    background-color:yellow;
}
.rword{
    display:inline-block;
    position: relative;
    left: 520px;
    bottom: 50px;
}
#gword{
    color: black;
    text-align: center;
    font-family: cursive;
    position: relative;
    bottom: 50px;
    left:-20px;
}

#eword
{
    position: relative;
    left:150px;
    box-sizing: border-box;
    border: 1px solid #c2c2c2;
    border-radius: 4px;
}

#sbutton{
    position: relative;
    top:60px;
    left: 190px;

}
#img{
    width: 500px;
    height: auto;
    position: relative;
    left:520px;
    bottom: 50px;
    /* background-color: black; */

}
#Hint{
    text-align: center;
    border: 2px dotted green;
    padding: 20px;
    position: relative;
    left: 5px;
}